<footer class="">

  <div id="esquerda" class="col-md-4">
    <div id="logo" class="col-md-12">
      <img class="img-responsive" src="{{ "assets/img/logo.png" | relative_url }}" alt="logo">
    </div>
    <div id="enderecos" class="col-md-12">
      <h3>Unidade Farol</h2>
      <p>Av.Fernandes Lima , 3204 - Gruta de Lourdes, Maceió - AL, CEP: 57055-000</p>
      <p>Informações: (82) 99127-0519</p>
      <h3>Unidade Jatiúca</h2>
      <p>R. Mal. Antônio Guedes Muniz, 112 - Jatiúca, Maceió - AL, CEP: 57036-670</p>
      <p>Informações: (82) 99106-3360</p>
    </div>
    <ul id="nav-social">
      <li><a href="#"><img src="assets/img/icon-social-ig.png" alt="instagram"></a></li>
      <li><a href="#"><img src="assets/img/icon-social-fb.png" alt="facebook"></a></li>
    </ul>
    <div id="copyright" class="col-md-12">
      <p>BG Fitness <span>© 2017 - Todos os direitos reservados.</span></p>
    </div>


  </div>
  <div id="direita" class="col-md-8">
    <div id="conteudo" class="">
      <div id="horarios" class="col-md-7">
        <div class="col-md-12">
          <h2 id="titulos-horarios">Horário de funcionamento</h2>
        </div>
        <div class="col-md-4">
          <p>Segunda à Sexta:</p>
          <span>5H às 23H</span>
        </div>
        <div class="col-md-4">
          <p>Sábados:</p>
          <span>8H às 14H</span>
        </div>
        <div class="col-md-4">
          <p>Domingos:</p>
          <span>9H às 13H</span>
        </div>
        <div id="detalhe" class="col-md-12">
          <p>*Em datas específicas podem ocorrer mudanças de horários que serão amplamente divulgadas na academia para todos os clientes.</p>
        </div>
      </div>
      <div id="matricular" class="col-md-5">
        <div class="col-md-12">
          <h2 id="titulo-matricular">Comece já</h2>
          <a href="#" rel="nofollow">
            <strong id="quero-matricular">Quero me matricular</strong>
          </a>
        </div>

      </div>
    </div>

  </div>

</footer>
