<header>
  <nav id="menu" class="container-fluid">
    <div id="logo">
      <img class="img-responsive" src="assets/img/logo.png" alt="logo">
    </div>
    <div class="navegacao">
      <ul id="nav-principal">
        <li class="menu-item"><a href="#">Início</a></li>
        <li class="menu-item"><a href="#">BG Fitness</a></li>
        <li class="menu-item"><a href="#">Matricule-se</a></li>
        <li class="menu-item"><a href="#">Atendimento</a></li>
        <li class="icon-menu"><a href="javascript:void(0);"  onclick="myFunction()">&#9776;</a></li>
      </ul>
      <ul id="nav-social">
        <li><a href="#"><img src="assets/img/icon-social-ig.png" alt="instagram"></a></li>
        <li><a href="#"><img src="assets/img/icon-social-fb.png" alt="facebook"></a></li>
      </ul>
    </div>

  </nav>
</header>
