<head>
  <!--
  ***********************************
  * ################################## MICROFORMATS
  ***********************************
  -->

  <meta itemprop="name" content="Academia BG Fitness Maceió"/>
  <meta itemprop="description" content="Com unidades no Farol e Jatiúca,
  a academia BG Fitness Maceió te oferece maquinário exclusivo, suporte profissional para seus treinos,
  diversas modalidades gratuitas e um preço que cabe no seu bolso!"/>
  <meta itemprop="image" content=""/>
  <meta itemprop="url" content=""/>

  <!--
  ***********************************
  * ################################## SEO
  ***********************************
  -->

  <meta name="title" content="Academia BG Fitness Maceió" />
  <meta name="robots" content="index,follow">
  <meta name="author" content="StarFish - www.starfishbr.com" />
  <meta name="copyright" content="" />
  <meta name="description" content="Com unidades no Farol e Jatiúca, a academia BG Fitness Maceió te oferece maquinário exclusivo, suporte profissional para seus treinos, diversas modalidades gratuitas e um preço que cabe no seu bolso!" />
  <meta name="keywords" content="Musculação, Academia, Academia Maceió, Academia Jatiúca, Academia Farol, Academia Gruta, Fitness, BG Fitness, BG Fitness Maceió" />
  <meta name="classification" content="" />

  <!--
  ***********************************
  * ################################## FACEBOOK
  ***********************************
  -->

  <meta property="og:title" content="Academia BG Fitness Maceió" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="Academia BG Fitness Maceió" />
  <meta property="og:description" content="Com unidades no Farol e Jatiúca, a academia BG Fitness Maceió te oferece maquinário exclusivo, suporte profissional para seus treinos, diversas modalidades gratuitas e um preço que cabe no seu bolso!" />
  <meta property="og:locale" content="pt_BR" />
  <meta property="article:section" content="" />
  <meta property="article:author" content="https://www.facebook.com/" />
  <meta property="article:publisher" content="https://www.facebook.com/" />
  <meta property="article:tag" content="" />


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/css/lightbox.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <script src="{{ "/assets/js/jquery-3.2.1.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/lightbox.js" | relative_url }}"></script>


  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}
</head>
