
.principal{
  min-height: 100vh;
  @include borda-lateral();
  background-image: url("../img/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  #chamada{
    text-align: center;
    align-self: center;
    width: 100%;
    h1{
      text-align: center;
      font-family: "Roboto-Condensed", sans-serif;
      font-size: 3em;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
    }
    p{
      font-family: "Roboto-Thin", sans-serif;
      font-size: 20px;
      color: white;
      margin-bottom: 32px;
    }
    a{
      font-family: "Roboto-Condensed", sans-serif;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      padding: 15px 70px;
      color: white;
      background-color: $laranja-bg;
      max-width: 100%;

      &:hover{
        background-color: darken($laranja-bg, 10% );
        color: white;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
      }
    }
  }//chamada
}//principal

@media screen and (max-width: 991px) {
  .principal{
    @include borda-lateral-mobile();

    #chamada{
      h1{
      }
      p{
      }
      a{
        padding: 10px 15px;
        font-size: 18px;
        float: none;
        width: 96%;
        padding: 15px 20px;
        &:hover{
        }
      }
    }//chamada
  }//principal
}

.explicacao{
  background-color: #e1e1e3;
  @include borda-lateral();
  min-height: 70vh;
  #atletas{
    min-height: inherit;
    background-image: url("../img/thai.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom center;
  }
  #container-explicacao{
    display: flex;
    min-height: inherit;
    #elementos-explicacao{
      text-align: center;
      align-self: center;
      width: 100%;
      #titulo-explicacao{
        font-family: "Roboto-Condensed", sans-serif;
        font-size: 3em;
        font-weight: 700;
        color: #222227;
        text-transform: uppercase;
      }
      #explicacao{
        font-family: "Roboto-Light";
        font-size: 1.6em;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      a{
        font-family: "Roboto-Condensed", sans-serif;
        font-size: 1.6em;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 70px;
        color: $cinza-escuro;
        border: 2px solid $azul-bg;
        &:hover{
          background-color: $azul-bg;
          color: white;
          transition-duration: 0.3s;
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
        }
      }//a
    }//elementos explicacao
  }
}//explicacao

@media screen and (max-width: 1100px) {
  .explicacao{

    @include borda-lateral-mobile();

    #atletas{
      display: none;
    }
    #container-explicacao{
      width: 100%;
      padding: 0;
      #elementos-explicacao{

        #titulo-explicacao{

        }
        #explicacao{

        }
        a{
          max-width: 100%;
          padding: 15px 25px;
          font-size: 18px;
          float: none;
          &:hover{

          }
        }//a
      }//elementos explicacao
    }
  }//explicacao
}

#como-funciona{
  display: flex;
  padding: 70px 90px 120px 90px;
  @include borda-lateral();
  min-height: 100vh;
  background-image: url("../img/bg-como-funciona.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  text-align: center;
  color: white;
  .conteudo{
    align-self: center;
    .icon{
      background-color: $azul-bg;
      width: 240px;
      height: 240px;
      display: inline-block;
      position: relative;
      transition: background-color 300ms ease-out;
      -webkit-transition: background-color 300ms ease-out;
      -moz-transition: background-color 300ms ease-out;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      &:hover{
        background-color: darken($azul-bg, 10% );
      }
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

      }
    }
    .como-funciona-titulo{
      font-family: "Roboto-Condensed", sans-serif;
      font-size: 2.5em;
      font-weight: 700;
      text-transform: uppercase;
    }
    .como-funciona-descricao{
      font-family: "Roboto-Light";
      font-size: 1.2em;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
}//como funciona

@media screen and (max-width: 991px) {
  #como-funciona{
    min-height: 150vh;

    @include borda-lateral-mobile();

    color: white;
    .conteudo{

      .icon{
        width: 150px;
        height: 150px;
        &:hover{
        }
        img{
        }
      }
      .como-funciona-titulo{

      }
      .como-funciona-descricao{

      }
    }
  }//como funciona
}//media

@media screen and (max-width: 510px) {
  #como-funciona{
    min-height: 150vh;

    @include borda-lateral-mobile();

    color: white;
    .conteudo{
      header{
        display: none;
      }

      .icon{
        width: 150px;
        height: 150px;
        &:hover{
        }
        img{
        }
      }
      .como-funciona-titulo{

      }
      .como-funciona-descricao{

      }
    }
  }//como funciona
}//media



#secao-planos{
  min-height: 100vh;
  background: url("../img/bg-planos.png") top center repeat-y;
  // padding-top: 45px;
  @include borda-lateral();

  .conteudo{
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/para-todos.png");
    background-repeat: no-repeat;
    background-size: 43%;
    background-position: bottom center;
    color: $cinza-escuro;

    header{
      text-align: center;
      #planos-titulo{
        font-family: "Roboto-Condensed", sans-serif;
        font-size: 2.5em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;

      }
      #planos-subtitulo{
        font-family: "Roboto-Light";
        font-size: 1.2em;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
    }

    .planos{
      font-family: 'Roboto-Condensed-Light', sans-serif;
      font-size: 42px;
      font-weight: 300;
      text-transform: uppercase;
      strong{
        font-family: "Roboto-Condensed", sans-serif;
      }
      .sub-plano{
        font-family: "Roboto-Light";
        font-size: 22px;
        font-weight: 300;
      }
      .plano{
        padding: 40px 45px;
        transition: background-color 300ms ease-out;
        -webkit-transition: background-color 300ms ease-out;
        -moz-transition: background-color 300ms ease-out;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        .preco{
          margin-top: 12px;
          padding: 10px 15px;
          color: $cinza-escuro;
          border: 2px solid $azul-bg;
        }
        a{
          color: inherit;
          text-decoration: none;
          border-radius: 0;
          &:hover{
            opacity: 0.9
          }
          &:last-child{
            text-decoration: underline;
          }
        }
        .contrate{
          margin-top: 18px;
          font-family: "Roboto-Condensed", sans-serif;
          font-size: 20px;

        }
        &:hover{
          background-color: $azul-bg;
          opacity: 0.9;
          color: white;
          .preco{
            color: white;
            border: 2px solid white;
          }
          a{
            color: white;
          }
        }

      }//plano
      #gold{
        #detalhe{
          font-size: 18px;
          text-transform: none;
          margin-bottom: 24px;
        }
      }
      #platinum{
        ul{
          li{
            text-transform: none;
            font-size: 18px;
            &:last-child{
              list-style-type: none;
              a{
                font-size: 18px;
              }
            }
          }
          margin-bottom: 15px;
        }

      }
    }//planos


  }//conteudo
}//secao planos
@media screen and (max-width: 991px) {
  #secao-planos{
    background: url("../img/bg-planos.png") top center repeat-y;
    padding: 45px;
    @include borda-lateral-mobile();

    .conteudo{
      min-height: inherit;
      width: 100%;
      background-image: none;


      header{
        padding-top: 0;
        padding-bottom: 0;
        #planos-titulo{
        }
        #planos-subtitulo{
          margin-bottom: 10px;
        }
      }

      .planos{

        strong{
        }
        .sub-plano{
        }
        .plano{
          padding: 40px 10px;

          .preco{
            font-size: 30px;
          }
          a{

            &:hover{
            }
            &:last-child{
            }
          }
          .contrate{
            }
          &:hover{

            .preco{

            }
            a{
            }
          }

        }//plano
        #gold{
          #detalhe{

          }
        }
        #platinum{
          ul{
            li{

              &:last-child{

                a{

                }
              }
            }

          }

        }
      }//planos


    }//conteudo
  }//secao planos
}


#area-mapa{
  background-color: white;
  header{
    position: absolute;
    z-index: 10;
    margin-top: 32px;
    font-family: "Roboto-Condensed", sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #222227;
    text-transform: uppercase;
    text-align: center;
    p{
      text-shadow: 0px 0px 25px #FFFFFF;
    }
  }
  #mapa{
    min-height: 100vh;
    width: 100%;
    background-color: grey;
    border-top: 10px solid $azul-bg;


  }//mapa
}//area mapa

#banner-bgbiu{
  position: fixed;
  z-index: 11;
  background-image: url("../img/background-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  width: 100%;
  border-top: 10px solid #e26e08;
  -webkit-box-shadow: 0px -3px 9px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px -3px 9px 0px rgba(0,0,0,0.43);
  box-shadow: 0px -3px 9px 0px rgba(0,0,0,0.43);
  div{
    padding: 0 30%;

    p{
      color: white;
      text-shadow: 2px 2px 10px rgba(0,0,0,0.81);
      text-align: left;
      font-family: "Gotham-Black";
      font-size: 3em;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
    }
  }
}