@mixin titulo() {
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
}
@mixin descricao() {
  font-family: "Roboto-Thin", sans-serif;
  font-size: 20px;
  text-align: left;
}



.inst-principal{
  min-height: 100vh;
  @include borda-lateral();
  background-image: url("../img/background-institucional.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  #chamada{
    text-align: center;
    align-self: center;
    width: 100%;
    h2{
      text-align: left;
      color: white;
      @include titulo;
    }
    p{
      @include descricao;
      color: white;
      margin-bottom: 32px;
    }
    a{
      font-family: "Roboto-Condensed", sans-serif;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      margin-top: 24px;
      float: left;
      padding: 15px 70px;
      color: white;
      background-color: $laranja-bg;
      max-width: 100%;

      &:hover{
        background-color: darken($laranja-bg, 10% );
        color: white;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
      }
    }//a
    ul{
      margin: 0;
      padding: 0 0px;
      margin-top: 30px;
      li{
        font-family: "Roboto-Thin", sans-serif;
        font-size: 18px;
        color: white;
        text-align: left;

        float: left;
        width: 48%;
        margin-right: 0%;
        list-style-type: none;
        background: url("../img/icon-arrow-orange.png") left top no-repeat;
        font-weight: 300;
        line-height: 1.2em;
        padding-left: 40px;
        min-height: 23px;
        margin-bottom: 10px;
      }
    }//li
    iframe{
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }//chamada
}//principal

@media screen and (max-width: 991px) {
  .inst-principal{
    padding-left: 35px;
    padding-right: 35px;
    #chamada{

      padding-top: 112px;
      h2{}
      p{

      }
      a{
        padding: 10px 15px;
        font-size: 16px;
        float: none;
        width: 96%;
        &:hover{

        }
      }//a
      ul{

        li{

          width: 98%;

        }
      }
    }//chamada
  }//principal
}

.unidade{
  // min-height: 150vh;

  background-color: white;
  #descricao-unidade{
    background-color: inherit;
    padding: 32px;
    height: inherit;
    header{
      position: relative;
      padding-left: 22px;
      padding-right: 22px;
      h2{
        @include titulo;
      }
      p{
        @include descricao;
      }
    }
    #galeria{
      a{
        img{
          width: 150px;
          height: 150px;
          margin: 4px;
        }
      }
    }//galeria
    #cronograma{
      background-color: white;
      padding: 64px;
      h3{
        @include titulo;
        text-align: center;
        margin-bottom: 32px;
        font-size: 20px;
      }
      .table{
        th{
          font-family: "Roboto-Condensed", sans-serif;
        }
      }
    }

  }//descricao farol
  #mapa-farol{height: 60vh;}
  #mapa-praia{height: 60vh;}

}//farol

@media screen and (max-width: 991px) {
  .unidade{
    padding-top: 24px;
    padding-bottom: 24px;
    height: auto;
    #descricao-unidade{
      header{

        h2{
        }
        p{
        }
      }
      #galeria{
        a{
          img{
            width: 100px;
            height: 100px;
          }
        }
      }
      #cronograma{
        padding: 0;
        overflow: scroll;
        h3{
          margin-bottom: 12px;
          font-size: 18px;
        }
        .table{
          th{
          }
        }
      }

    }//descricao farol
    #mapa-farol{display: none;}
    #mapa-praia{display: none;}
  }//farol
}
