@mixin titulo() {
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}
@mixin descricao() {
  font-family: "Roboto-Thin", sans-serif;
  font-size: 20px;
  text-align: left;
}



.inst-principal{
  min-height: 100vh;
  @include borda-lateral();
  background-image: url("../img/background-institucional.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  #chamada{
    text-align: center;
    align-self: center;
    width: 100%;
    h2{
      text-align: left;
      color: white;
      @include titulo;
    }
    p{
      @include descricao;
      color: white;
      margin-bottom: 32px;
    }
    a{
      font-family: "Roboto-Condensed", sans-serif;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      margin-top: 24px;
      float: left;
      padding: 15px 70px;
      color: white;
      background-color: $laranja-bg;
      max-width: 100%;

      &:hover{
        background-color: darken($laranja-bg, 10% );
        color: white;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
      }
    }//a
    ul{
      margin: 0;
      padding: 0 0px;
      margin-top: 30px;
      li{
        font-family: "Roboto-Thin", sans-serif;
        font-size: 18px;
        color: white;
        text-align: left;

        float: left;
        width: 48%;
        margin-right: 0%;
        list-style-type: none;
        background: url("../img/icon-arrow-orange.png") left top no-repeat;
        font-weight: 300;
        line-height: 1.2em;
        padding-left: 40px;
        min-height: 23px;
        margin-bottom: 10px;
      }
    }
  }//chamada
}//principal

@media screen and (max-width: 991px) {
  .principal{
    #chamada{
      h2{
      }
      p{
      }
      a{
        padding: 15px 20px;
        &:hover{
        }
      }
    }//chamada
  }//principal
}

#farol{
  height: 85vh;
  background-color: white;
  #descricao-farol{
    height: inherit;
    header{
      position: relative;
      padding-left: 22px;
      padding-right: 22px;
      h2{
        @include titulo;
      }
      p{
        @include descricao;
      }
    }
    #galeria{
      a{
        img{
          width: 150px;
          height: 150px;
          margin: 4px;
        }
      }
    }

  }
  #mapa-farol{height: inherit;}
}

#praia{
  height: 85vh;
  background-color: white;
  #descricao-praia{
    height: inherit;
    header{
      position: relative;
      padding-left: 22px;
      padding-right: 22px;
      h2{
        @include titulo;
      }
      p{
        @include descricao;
      }
    }
    #galeria{
      a{
        img{
          width: 150px;
          height: 150px;
          margin: 4px;
        }
      }
    }

  }
  #mapa-praia{height: inherit;}
}
