---
# Only the main Sass file needs front matter (the dashes are enough)
---

$azul-bg: #0095da;
$laranja-bg: #f58220;
$cinza-escuro: #222227;
$tamanho-footer: 80vh;

@mixin borda-lateral($tamanho: 55px) {
  padding-left: $tamanho;
  padding-right: $tamanho;
}

@import 'bootstrap';

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../assets/fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Condensed";
  src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Condensed-Light";
  src: url("../assets/fonts/RobotoCondensed-Light.ttf");
}

.btn{
  border-radius: 0;
}

body{
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

header{
  padding-top: 30px;
  padding-bottom: 30px;
  @include borda-lateral();
  position: absolute;
  width: 100%;
  #menu{
    padding: 0;
    display: flex;
    #logo{
      align-self: center;
      display: inline-block;
      width: 300px;
    }
    .navegacao{
      margin-left: auto;
      align-self: center;
      display: flex;
      #nav-principal{
        display: inline-block;
        margin-top: 10px;
        .menu-item{
          display: inline-block;
          a{
            text-transform: uppercase;
            font-size: 1.4em;
            padding: 15px 12px;
            border: 2px solid transparent;
            color: white;
            text-decoration: none;
            &:hover{
              border: 2px solid $azul-bg;
              transition-duration: 0.3s;
              -webkit-transition-duration: 0.3s;
              -moz-transition-duration: 0.3s;
            }
          }


        }//li
        .icon-menu{
          display: none;
        }
      }//nav principal
      #nav-social{
        display: inline-block;
        align-self: center;
        padding-left: 10px;
        margin: 0;
        li{
          padding: 0;
          display: inline-block;
          text-transform: uppercase;
          font-size: 1.25em;
          border: 2px solid transparent;
          color: white;
        }
      }//nav-social
    }//navegacao

  }//menu
}//header

@media screen and (max-width: 1100px) {

  header{
    #menu{
      #logo{
        display: inline-block;
        max-width: 60%;
      }
      .navegacao{
        align-self: center;
        #nav-principal{
          margin: 0;
          .menu-item{
            display: none;
          }
          a{
            text-decoration: none;
          }
          .icon-menu{
            color: $azul-bg;
            display: inline-block;
            font-size: 45px;
            line-height: 45px;
            padding: 0;
          }
        }//nav principal
        #nav-social{
          display: none;
        }//nav-social
      }//navegacao

    }//menu
  }//header
}//media

.overlay{
  position: absolute;
  display: flex;
  display: none;

  z-index: 1000;
  height: 100vh;
  width: 100%;
  opacity: 0.93;
  background-color: $laranja-bg;
  #nav-mobile{
    opacity: 1;
    text-align: center;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-top: 100px;
    .menu-item{
      padding: 12px;
      a{
        text-transform: uppercase;
        font-family: "Roboto-Thin";
        color: white;
        font-size: 24px;
      }
    }//menu-item
    .icon-menu{
      margin-top: 15px;
      a{
        font-size: 40px;
        color: white;
      }

    }
  }//nav-mobile
}

.principal{
  height: 100vh;
  @include borda-lateral();
  background-image: url("../assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  #chamada{
    text-align: center;
    align-self: center;
    width: 100%;
    h1{
      text-align: center;
      font-family: "Roboto-Condensed", sans-serif;
      font-size: 3em;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
    }
    p{
      font-family: "Roboto-Thin", sans-serif;
      font-size: 20px;
      color: white;
      margin-bottom: 32px;
    }
    a{
      font-family: "Roboto-Condensed", sans-serif;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      padding: 15px 70px;
      color: white;
      background-color: $laranja-bg;
      max-width: 100%;

      &:hover{
        background-color: darken($laranja-bg, 10% );
        color: white;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
      }
    }
  }//chamada
}//principal

@media screen and (max-width: 991px) {
  .principal{
    #chamada{
      h1{
      }
      p{
      }
      a{
        padding: 15px 20px;
        &:hover{
        }
      }
    }//chamada
  }//principal
}

.explicacao{
  background-color: #e1e1e3;
  @include borda-lateral();
  height: 80vh;
  #atletas{
    height: inherit;
    background-image: url("../assets/img/atletas.png");
    background-repeat: no-repeat;
    background-size:80%;
    background-position: bottom left;
  }
  #container-explicacao{
    display: flex;
    height: inherit;
    #elementos-explicacao{
      text-align: center;
      align-self: center;
      width: 100%;
      #titulo-explicacao{
        font-family: "Roboto-Condensed", sans-serif;
        font-size: 3em;
        font-weight: 700;
        color: #222227;
        text-transform: uppercase;
      }
      #explicacao{
        font-family: "Roboto-Light";
        font-size: 1.6em;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      a{
        font-family: "Roboto-Condensed", sans-serif;
        font-size: 1.6em;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 70px;
        color: $cinza-escuro;
        border: 2px solid $azul-bg;
        &:hover{
          background-color: $azul-bg;
          color: white;
          transition-duration: 0.3s;
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
        }
      }//a
    }//elementos explicacao
  }
}//explicacao

@media screen and (max-width: 1100px) {
  .explicacao{

    @include borda-lateral();

    #atletas{
      display: none;
    }
    #container-explicacao{
      width: 100%;
      padding: 0;
      #elementos-explicacao{

        #titulo-explicacao{

        }
        #explicacao{

        }
        a{
          max-width: 100%;
          padding: 15px 25px;
          &:hover{

          }
        }//a
      }//elementos explicacao
    }
  }//explicacao
}

#como-funciona{
  display: flex;
  padding: 70px 90px 120px 90px;
  @include borda-lateral();
  height: 100vh;
  background-image: url("../assets/img/bg-como-funciona.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  text-align: center;
  color: white;
  .conteudo{
    align-self: center;
    .icon{
      background-color: $azul-bg;
      width: 240px;
      height: 240px;
      display: inline-block;
      position: relative;
      transition: background-color 300ms ease-out;
      -webkit-transition: background-color 300ms ease-out;
      -moz-transition: background-color 300ms ease-out;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      &:hover{
        background-color: darken($azul-bg, 10% );
      }
      img{
        position: absolute;
        z-index: 99999999;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

      }
    }
    .como-funciona-titulo{
      font-family: "Roboto-Condensed", sans-serif;
      font-size: 2.5em;
      font-weight: 700;
      text-transform: uppercase;
    }
    .como-funciona-descricao{
      font-family: "Roboto-Light";
      font-size: 1.2em;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
}//como funciona

@media screen and (max-width: 991px) {
  #como-funciona{
    height: 150vh;

    @include borda-lateral();

    color: white;
    .conteudo{

      .icon{
        width: 150px;
        height: 150px;
        &:hover{
        }
        img{
        }
      }
      .como-funciona-titulo{

      }
      .como-funciona-descricao{

      }
    }
  }//como funciona
}//media

@media screen and (max-width: 510px) {
  #como-funciona{
    height: 150vh;

    @include borda-lateral();

    color: white;
    .conteudo{
      header{
        display: none;
      }

      .icon{
        width: 150px;
        height: 150px;
        &:hover{
        }
        img{
        }
      }
      .como-funciona-titulo{

      }
      .como-funciona-descricao{

      }
    }
  }//como funciona
}//media



#secao-planos{
  height: 110vh;
  background: url("../assets/img/bg-planos.png") top center repeat-y;
  padding: 45px;
  @include borda-lateral();

  .conteudo{
    height: 100vh;
    width: 100%;
    background-image: url("../assets/img/mulher-planos.png");
    background-repeat: no-repeat;
    background-size:45%;
    background-position: bottom center;
    color: $cinza-escuro;

    header{
      text-align: center;
      #planos-titulo{
        font-family: "Roboto-Condensed", sans-serif;
        font-size: 2.5em;
        font-weight: 700;
        text-transform: uppercase;

      }
      #planos-subtitulo{
        font-family: "Roboto-Light";
        font-size: 1.2em;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
    }

    .planos{
      font-family: 'Roboto-Condensed-Light', sans-serif;
      font-size: 42px;
      font-weight: 300;
      text-transform: uppercase;
      strong{
        font-family: "Roboto-Condensed", sans-serif;
      }
      .sub-plano{
        font-family: "Roboto-Light";
        font-size: 22px;
        font-weight: 300;
      }
      .plano{
        padding: 40px 45px;
        transition: background-color 300ms ease-out;
        -webkit-transition: background-color 300ms ease-out;
        -moz-transition: background-color 300ms ease-out;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        .preco{
          margin-top: 12px;
          padding: 10px 15px;
          color: $cinza-escuro;
          border: 2px solid $azul-bg;
        }
        a{
          color: inherit;
          text-decoration: none;
          border-radius: 0;
          &:hover{
            opacity: 0.9
          }
          &:last-child{
            text-decoration: underline;
          }
        }
        .contrate{
          margin-top: 18px;
          font-family: "Roboto-Condensed", sans-serif;
          font-size: 20px;

        }
        &:hover{
          background-color: $azul-bg;
          opacity: 0.9;
          color: white;
          .preco{
            color: white;
            border: 2px solid white;
          }
          a{
            color: white;
          }
        }

      }//plano
      #gold{
        #detalhe{
          font-size: 18px;
          text-transform: none;
          margin-bottom: 24px;
        }
      }
      #platinum{
        ul{
          li{
            text-transform: none;
            font-size: 18px;
            &:last-child{
              list-style-type: none;
              a{
                font-size: 18px;
              }
            }
          }
          margin-bottom: 15px;
        }

      }
    }//planos


  }//conteudo
}//secao planos
@media screen and (max-width: 991px) {
  #secao-planos{
    height: 180vh;
    background: url("../assets/img/bg-planos.png") top center repeat-y;
    padding: 45px;
    @include borda-lateral();

    .conteudo{
      height: inherit;
      width: 100%;
      background-image: none;


      header{
        padding-top: 0;
        padding-bottom: 0;
        #planos-titulo{
        }
        #planos-subtitulo{
          margin-bottom: 10px;
        }
      }

      .planos{

        strong{
        }
        .sub-plano{
        }
        .plano{
          padding: 40px 10;

          .preco{

          }
          a{

            &:hover{
            }
            &:last-child{
            }
          }
          .contrate{
            }
          &:hover{

            .preco{

            }
            a{
            }
          }

        }//plano
        #gold{
          #detalhe{

          }
        }
        #platinum{
          ul{
            li{

              &:last-child{

                a{

                }
              }
            }

          }

        }
      }//planos


    }//conteudo
  }//secao planos
}


#area-mapa{
  background-color: white;
  header{
    position: absolute;
    z-index: 10;
    margin-top: 32px;
    font-family: "Roboto-Condensed", sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #222227;
    text-transform: uppercase;
    text-align: center;
    p{
      text-shadow: 0px 0px 25px #FFFFFF;
    }
  }
  #mapa{
    height: 100vh;
    background-color: grey;
    border-top: 10px solid $azul-bg;


  }//mapa
}//area mapa

footer{
  background-color: $azul-bg;
  color: white;

    #esquerda{
      height: $tamanho-footer;
      background: url("../assets/img/bg-footer.png") left center no-repeat;
      z-index: 2;
      padding: 100px 32px;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      #logo{
        img{
          width: 230px;
        }
      }//logo
      #enderecos{
        h3{
          font-family: "Roboto-Condensed", sans-serif;
          font-size: 20px;
          margin-bottom: 0;
        }
        p{
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          margin-bottom: 0;
        }
      }
      #nav-social{
        display: inline-block;
        align-self: center;
        padding-left: 10px;
        margin: 0;
        margin-top: 12px;
        li{
          padding: 0;
          display: inline-block;
          text-transform: uppercase;
          font-size: 1.25em;
          border: 2px solid transparent;
          color: white;
        }
      }//nav-social
      #copyright{
        margin-top: 56px;
      }
    }//esquerda
    #direita{
      padding: 100px 32px;
      height: $tamanho-footer;
      background-color: $azul-bg;
      #conteudo{
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        #horarios{
          padding: 0;
          #titulos-horarios{
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            background: url("../assets/img/icon-horarios.png") center left no-repeat;
            background-size: auto 95%;
            padding-left: 32px;
          }
          p{
            font-size: 18px;
            margin: 0;

          }
          span{
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
          }
          #detalhe{
            margin-top: 12px;
            p{
              font-size: 12px;
            }

          }
        }//horarios coluna 7
        #matricular{
          h2{
            background: url("../assets/img/icon-treinamentos.png") center left no-repeat;
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 25px;
            background-size: auto 96%;
            padding-left: 30px;
          }
          a{
            text-decoration: none;
            color: white;
            text-transform: uppercase;

            #quero-matricular{
              margin-top: 12px;
              padding: 15px 15px;
              border: 2px solid white;
              text-transform: uppercase;
              &:hover{
                background-color: white;
                color: $azul-bg;
                transition-duration: 0.3s;
                -webkit-transition-duration: 0.3s;
                -moz-transition-duration: 0.3s;
              }
            }

          }

        } //matricular coluna 5
      }//conteudo
    }
}//footer

@media screen and (max-width: 991px) {
  footer{
      #esquerda{

        #logo{
          img{
          }
        }//logo
        #enderecos{
          h3{

          }
          p{
          }
        }
        #nav-social{

          li{

          }
        }//nav-social
        #copyright{
          margin-top: 56px;
        }
      }//esquerda
      #direita{

        #conteudo{

          #horarios{
            #titulos-horarios{

              padding-left: 65px;
            }
            p{
            }
            span{

            }
            #detalhe{
              p{
              }

            }
          }//horarios coluna 7
          #matricular{
            h2{

            }
            a{

              #quero-matricular{

                &:hover{

                }
              }

            }

          } //matricular coluna 5
        }//conteudo
      }
  }//footer
}
