---
layout: default
---
<div id="layout-post">
  <section id="blog-header">
    <div id="conteudo-header" class="col-md-12">
      <h2>{{ page.title }}</h2>
      <p>{{ page.resumo }}</p>
      <p class="post-info">Autor: {{ page.author }}. Publicado em {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }}
      {% case m %}
        {% when '1' %}Jan
        {% when '2' %}Fev
        {% when '3' %}Mar
        {% when '4' %}Abr
        {% when '5' %}Mai
        {% when '6' %}Jun
        {% when '7' %}Jul
        {% when '8' %}Ago
        {% when '9' %}Set
        {% when '10' %}Out
        {% when '11' %}Nov
        {% when '12' %}Dez
      {% endcase %}
      {{ page.date | date: "%Y" }}.</p>
    </div>
  </section>
  <section id="conteudo-principal" class="col-md-12">
    {{ content }}
  </section>
</div>




  <!-- {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %} -->
